* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Tahoma, Helvetica, Arial, Sans-Serif;
	background: #000000;
	
	background-image: url('../images/bg_wood.jpg');
	background-repeat: repeat-y;
	background-position-x: 50%;
	background-origin: initial;
	background-clip: initial;
	
	width: 100%;
	height: 100%;
}

a:link, a:visited
{
	text-decoration: none;
	color: #aaaaaa;
}

a:hover
{
	color: #cccccc;
}

.shadow_upperinner
{
	-webkit-box-shadow: inset 0px 0px 15px #000;
	   -moz-box-shadow: inset 0px 0px 15px #000;
	        box-shadow: inset 0px 0px 15px #000;
}


#page
{
	/* @test */
	background-color: #111;
	
	position: relative;
	height: 100%;
}

#header
{
	/* @test */
	background: #111; /*#cdbf93;*/
	
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	
	height: 170px;
	position: relative;
}

	#logo
	{
		/* @test 
		background-color: grey;*/
		
		display: table;
		font-size: 2.5em;
		width: 55%;		
	}
	
		#logo > div  /* Logo's "Text" */
		{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 0.9em;
			padding-left: 0.2em;
			padding-right: 0.2em;
			
			color: #dddddd;
		}
		
		#logo > a
		{
			padding-left: 0.3em;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			display: table-cell;
		}
	
	#top_right_nav
	{
		position: absolute;
		right: 0.5em;
		top: 0.3em;
	}
	
		#top_right_nav > ul
		{
			text-align: right;
			margin-top: 0.5em;
			display: table;
			border-spacing: 0em 0.4em;
		}
		
		#top_right_nav > ul > li
		{
			display: table-row;
		}
	
	#top_nav
	{	
		position: absolute;
		right: 0.5em;
		bottom: -0.5em;		
	}
	
		#top_nav > ul
		{
			display: table;
			border-collapse: collapse;
		}
		
		#top_nav > ul > li
		{
			padding-left: 1.25em;
			padding-right: 1.25em;
			display: table-cell;
			border-left: 2px solid #555555;
		}
		
		#top_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
#content_container
{
	/* @test */
	background: #E6E6E6 url('../images/bg_noise.png');
	
	min-height: 70%;
	position: relative;
	overflow: hidden;
	
	-webkit-box-shadow: inset 0px 3px 4px #000;
	   -moz-box-shadow: inset 0px 3px 4px #000;
	        box-shadow: inset 0px 3px 4px #000;
	        
	/*background-image: url('../images/sidenav.png');
	background-repeat: repeat-y;*/
}
	
	#sidenav
	{
		/* @test */
		/*background: #000000;*/
		
		position:absolute;
		width: 18%;
		margin-top: 0.5em;
		padding: 1em;
		
		border-right: 1px solid #ffffff;
		
		-webkit-box-shadow: inset -1px 0px 1px #ccc;
		   -moz-box-shadow: inset -1px 0px 1px #ccc;
		        box-shadow: inset -1px 0px 1px #ccc;
		
		top: 0;
		bottom: 0;		
	}
	
		#sidenav > ul
		{
			padding: 0;
			margin: 1em 1em;
			display: table;
			border-spacing: 0em 0.4em;
			font-size: 1.15em;
		}
		
		#sidenav > ul > li
		{
			display: table-row;
		}
		
		.search_bar
		{
			margin-left: auto;
			text-align: center;
			display: table;
			border-collapse: collapse;
			border-spacing: 1em;
		}
		
			.search_bar > form
			{
				display: table-row;
			}
		
			.search_bar .input
			{
				display: table-cell;
				font-style: italic;
				width: 70%;
			}
			
			/*.search_bar .input:hover
			{
			}*/
			
	#content
	{
		/* @test 
		background: yellow;*/
		
		float: right;
		width: 82%;
		padding: 1em;
		
		word-wrap: break-word;
	}
	
#footer
{
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 100%;	
	height: 115px;
}














