* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #000000;
	background-image: url('../images/bg2.jpg');
	background-repeat: repeat-y;
	background-position-x: 50%;
	background-origin: initial;
	background-clip: initial;
	/*background-image: url('../images/textures/vintage_2.jpg');*/
	
	width: 100%;
	height: 100%;
}

a:link, a:visited
{
	text-decoration: none;
	color: #aaaaaa;
}

a:hover
{
	color: #cccccc;
}

.shadow_upperinner
{
	-webkit-box-shadow: inset 0px 0px 15px #000;
	   -moz-box-shadow: inset 0px 0px 15px #000;
	        box-shadow: inset 0px 0px 15px #000;
}

.shadow_right
{
	-moz-box-shadow: 0px 0px 40px 25px #000;
	-webkit-box-shadow: 0px 0px 40px 25px #000;
	box-shadow: 0px 0px 40px 25px #000;
	/* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
}

#page
{
	/* @test */
	background-color: black;
	
	position: relative;
	height: 100%;
}

#header
{
	/* @test */
	background: #333333;
	
	background-image: url('../images/header.png');
	background-repeat: repeat-x;
	
	height: 170px;
	position: relative;
}

	#logo
	{
		/* @test 
		background-color: grey;*/
		
		display: table;
		font-size: 2.5em;
		width: 55%;		
	}
	
		#logo > div  /* Logo's "Text" */
		{
			color: #dddddd;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 0.85em;
			padding-left: 0.2em;
			padding-right: 0.2em;
		}
		
		#logo > a
		{
			padding-left: 0.3em;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			display: table-cell;
		}
	
	#top_right_nav
	{
		position: absolute;
		right: 0.5em;
		top: 0.3em;
	}
	
		#top_right_nav > ul
		{
			text-align: right;
			margin-top: 0.5em;
			display: table;
			border-spacing: 0em 0.4em;
		}
		
		#top_right_nav > ul > li
		{
			display: table-row;
		}
	
	#top_nav
	{	
		position: absolute;
		right: 0.5em;
		bottom: -0.5em;		
	}
	
		#top_nav > ul
		{
			display: table;
			border-collapse: collapse;
		}
		
		#top_nav > ul > li
		{
			padding-left: 1.25em;
			padding-right: 1.25em;
			display: table-cell;
			border-left: 2px solid #555555;
		}
		
		#top_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
#content_container
{
	/* @test */
	background-color: #E6E6E6;
	
	min-height: 70%;
	position: relative;
	overflow: hidden;
}
	
	#sidenav
	{
		/* @test */
		background: #000033;
		
		position:absolute;
		width: 20%;
		padding: 1em;
		
		top: 0;
		bottom: 0;		
		
		-webkit-box-shadow: inset 0px 2px 5px #000;
	         -moz-box-shadow: inset 0px 2px 5px #000;
	              box-shadow: inset 0px 2px 5px #000;
	}
	
		#sidenav > ul
		{
			padding: 0;
			margin: 1em 1em;
			display: table;
			border-spacing: 0em 0.4em;
			font-size: 1.15em;
		}
		
		#sidenav > ul > li
		{
			display: table-row;
		}
		
		.search_bar
		{
			margin-left: auto;
			text-align: center;
		}
		
			.search_bar .input
			{
				font-style: italic;
			}
			
			/*.search_bar .input:hover
			{
			}*/
			
	#content
	{
		/* @test 
		background: yellow;*/
		
		position: absolute;
		margin-left: 20%;
		width: 80%;
		top: 0;
		bottom: 0;
		padding: 1em;
		
		word-wrap: break-word;
		
		-webkit-box-shadow: inset 2px 2px 4px #000;
	       -moz-box-shadow: inset 2px 2px 4px #000;
	            box-shadow: inset 2px 2px 4px #000;
	}
	
#footer
{
	/* @test */
	background-color: black;
	
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 100%;	
}














