


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0 auto;
	padding: 0;
	color: #555;
	font: normal 11pt Calibri, Tahoma, Helvetica, Arial, Sans-Serif;
	background: url('../images/bg_wood.jpg') repeat top center;
	
	width: 100%;
	height: 100%;
}

.container {
	width:960px;
	margin:0 auto;
}



a:link, a:visited
{
	text-decoration: none;
	color: #555;
}


a:hover
{
	color: #888;
}


#page
{
	
	background-image: url('../images/bg_noise_2.png');
	position: relative;
}

#header
{	
	background-image: url('../images/header_centered.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 226px;
	position: relative;
	top: 0;	
	font-size: 12pt;
}

	#header a:link, #header a:visited
	{
		color: #cdbd7b;
	}
	
	#header a:hover
	{
		color: #f0e4b1;
	}

	#logo
	{
		position: absolute;
		left: 50%;
		top: 27%;
		/*bottom: 14px;*/
		margin-left: -75px;
	}
	
	#top_right_nav
	{	
		position: absolute;
		left: 63%;
		top: 6.75em;	
	}
	
		#top_right_nav > ul
		{
			display: table;
			border-collapse: collapse;
		}
		
		#top_right_nav > ul > li
		{
			padding-left: 1.25em;
			padding-right: 1.25em;
			display: table-cell;
			border-left: 2px solid #cdbd7b;
		}
		
		#top_right_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_right_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
	#top_left_nav
	{	
		position: absolute;
		left: 7%;
		top: 6.75em;
	}
	
		#top_left_nav > ul
		{
			display: table;
			border-collapse: collapse;
		}
		
		#top_left_nav > ul > li
		{
			padding-left: 1.25em;
			padding-right: 1.25em;
			display: table-cell;
			border-left: 2px solid #cdbd7b;
		}
		
		#top_left_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_left_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
#content_container
{
	margin-top: -4.5em;
	position: relative;
	overflow: hidden;
	padding: 1em;
	/*text-shadow: 1px 2px 2px #fff;*/
}
	#content a:link, #content a:visited
	{
		color: #770000;
	}
	
	#content a:hover
	{
		color: #aa0000;
	}
	
	#sidenav
	{
		/* @test 
		background: #000000;*/
		
		padding-top: 2em;
		position:absolute;
		width: 18%;
		margin-top: 1em;
		
		
		border-right: 1px solid #ffffff;
		
		-webkit-box-shadow: inset -1px -1px 1px #ccc;
		   -moz-box-shadow: inset -1px -1px 1px #ccc;
		        box-shadow: inset -1px -1px 1px #ccc;
		
		top: 0;
		bottom: 0;		
	}
	
		#sidenav > ul
		{
			padding: 0;
			margin: 1em auto;
			display: table;
			border-spacing: 0em 0.4em;
			font-size: 1.15em;
		}
		
		#sidenav > ul > li
		{
			text-align: right;
			display: table-row;
		}
		
		.search_bar
		{
			padding: 0;
			margin: 0 auto;
			text-align: center;
			display: table;
			border-collapse: collapse;
			border-spacing: 1em;
		}
		
			.search_bar > form
			{
				display: table-row;
			}
		
			.search_bar .input
			{
				display: table-cell;
				font-style: italic;
				width: 70%;
			}
			
			/*.search_bar .input:hover
			{
			}*/
			
	#content
	{
		/* @test 
		background: yellow;*/
		
		padding-top: 3em;
		float: right;
		width: 82%;
		min-height: 500px;
		position: relative;
		word-wrap: break-word;
	}
	
#footer
{
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	
	vertical-align: center;
	padding: 1em;
	text-align: center;
	position: relative;
	margin: auto auto;
	width: 100%;	
	height: 100px;
}


#social_media_buttons
{
	/*width: 35%;*/
	width: 80%;
	height: 50px;
	clear: both;
	position: relative;
	float: right;
	font-size: 10pt;
	margin-top: 2em;
	padding-top: 0.3em;
	
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	
	-webkit-box-shadow: inset -2px -2px 2px #ccc;
         -moz-box-shadow: inset -2px -2px 2px #ccc;
              box-shadow: inset -2px -2px 2px #ccc;
}

	#social_media_buttons > div
	{
		font-weight: bold;
		position: absolute;
		left: 0;
		padding: .8em;
		padding-left: 1em;
	}

	#social_media_buttons img
	{
		width: 40px;
	}
	
	#social_media_buttons > ul
	{
		margin: 0px;
		margin-right: .4em;
		padding: 0px;
		
		right: 0;
	}

#breadcrumbs
{
	margin-left: 2em;
	width: 60%;
}

	#breadcrumbs > ul 
	{
		margin: 0;
		padding: 0;
		display: table;
	}
	
	#breadcrumbs > ul > li
	{
		padding: 0.35em;
		display: table-cell;
	}
	
	#breadcrumbs > ul > li:first-child
	{
		padding-left: 0;
	}







/* General, useful classes */

.red_title
{			
	color: #770000; 
	text-shadow: 2px 2px 3px #7f7f7f;
}

#content
{
	margin-top: 3em;
	padding: 0.5em 1em;
}

.horizontal_menu
{

}

	.horizontal_menu > ul
	{
		position: absolute;
		display: table;
		border-collapse: collapse;
		
	}
	
	.horizontal_menu > ul > li
	{
		vertical-align: middle;
		display: table-cell;
		padding-left: 0.5em;
	}
	

	
	
	
	