

#slidejs_container
{
	width: 630px;
	height: 300px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 45px;
	
	position: relative;
	
	-webkit-box-shadow: 3px 3px 5px 1px #777;
	-moz-box-shadow: 3px 3px 5px 1px #777;
	box-shadow: 3px 3px 5px 1px #777;
	
	background-color: #fff;
}


	#slides
	{
		position: relative;
		width: 100%;
		height: 100%;		
	}
	
	
		#slides .slides_container
		{
			position: relative;
			width: 600px;
			height: 100%;
		}
		
			.slides_container img
			{
				width: 100%;
			}
		
		
	#slidejs_container .prev
	{
		position: absolute;
		left: -39px;
		top: 113px;
		display: none;
	}
	
	#slidejs_container .next
	{
		position: absolute;
		right: -39px;
		top: 113px;
		display: none;
	}


.pagination
{
	position: absolute;
	height: 30px;
	bottom: -25%;
	z-index: 101;
	width: 160px;
	left: 200px;
	padding-top: .25em;
}
	
	.pagination li
	{
		padding: 1px;
		list-style:none;
		float: left;
	}
	
	
		.pagination li a
		{
			display:block;
			width:12px;
			height:0;
			padding-top:12px;
			background-image:url(../images/test/pagination.png);
			background-position:0 0;
			overflow:hidden;
		}
		
		
			.pagination li.current a
			{
				background-position:0 -12px;
			}


/*
.pagination 
{
	margin:26px auto 0;
	width:100px;
}


.pagination li 
{
	float:left;
	margin:0 1px;
	list-style:none;
}


.pagination li a 
{
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/test/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}


.pagination li.current a 
{
	background-position:0 -12px;
}*/