
/*@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);*/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html
{
	width: 100%;
	height: 100%;
	background-color: #000;
	background: url('../images/bg_wood.jpg') fixed top center;
}

body
{
	margin: 0 auto;
	padding: 0;
	color: #555;
	font: normal 11pt Tahoma, Helvetica, Arial, Sans-Serif;
	
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'GothicUltraOTRegular', serif;
	color: #700;
	text-shadow: 2px 2px 3px #7F7F7F;
}

h1
{
	font-size: 2.5em;
}

h2
{
	font-size: 2em;
}


img, a {
	border: none;
}

.container {
	width:960px;
	margin:0 auto;
}



a:link, a:visited
{
	text-decoration: none;
	text-shadow: 2px 2px 2px #bbb;
	color: #444;
}


a:hover
{
	color: #888;
}


#page
{
	
	background-image: url('../images/bg_noise_2.png');
	position: relative;
}

#header
{	
	background-image: url('../images/header_shadow.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 226px;
	position: relative;
	top: 0;	
	font-family: 'GothicUltraOTRegular', serif;
	font-size: 1.6em;
	font-weight: bold;
}

	#header a:link, #header a:visited
	{
		color: #cdbd7b;
		text-shadow: 3px 3px 3px #111;
	}
	
	#header a:hover
	{
		color: #f0e4b1;;
	}

	#logo
	{
		position: absolute;
		left: 50%;
		top: 27%;
		margin-left: -75px;
	}
	
	#top_right_nav
	{	
		position: absolute;
		left: 58.25%;
		top: 4.25em;	
		
	}
	
		#top_right_nav > ul
		{
			display: table;
			border-collapse: collapse;
			
		}
		
		#top_right_nav > ul > li
		{
			padding-left: 1em;
			padding-right: 1em;
			display: table-cell;
			border-left: 2px solid #cdbd7b;
		}
		
		#top_right_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_right_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
	#top_left_nav
	{	
		position: absolute;
		left: 4%;
		top: 4.25em;
	}
	
		#top_left_nav > ul
		{
			display: table;
			border-collapse: collapse;
		}
		
		#top_left_nav > ul > li
		{
			padding-left: 1.25em;
			padding-right: 1.25em;
			display: table-cell;
			border-left: 2px solid #cdbd7b;
		}
		
		#top_left_nav > ul > li:first-child
		{
			border-left: none;
		}
		
		#top_left_nav > ul > li:last-child
		{
			padding-right: 0em;
		}
	
#content_container
{
	margin-top: -4.5em;
	position: relative;
	overflow: hidden;
	padding: 1em;
}

	
	#content a:link, #content a:visited
	{
		color: #770000;
	}
	
	#content a:hover
	{
		color: #aa0000;
	}
	
	#sidenav
	{
		/* @test 
		background: #000000;*/
		
		font-family: 'GothicUltraOTRegular', serif;
		font-weight: bold;
		font-size: 1.3em;
		
		padding-top: 1em;
		position:absolute;
		width: 18%;
		margin-top: 1em;
		
		
		border-right: 1px solid #ffffff;
		
		-webkit-box-shadow: inset -1px -1px 1px #ccc;
		   -moz-box-shadow: inset -1px -1px 1px #ccc;
		        box-shadow: inset -1px -1px 1px #ccc;
		
		top: 0;
		bottom: 0;		
	}
		#sidenav a:link, #sidenav a:hover
		{
			text-shadow: 2px 2px 3px grey !important;
		}
	
		#sidenav > ul
		{
			padding: 0;
			margin: 1em auto;
			display: table;
			border-spacing: 0em 0.4em;
			font-size: 1.15em;
		}
		
		#sidenav > ul > li
		{
			text-align: right;
			display: table-row;
		}
		
		.search_bar
		{
			padding: 0;
			margin: 0 auto;
			text-align: center;
			display: table;
			border-collapse: collapse;
			border-spacing: 1em;
			
			visibility: hidden;
		}
		
			.search_bar > form
			{
				display: table-row;
			}
		
			.search_bar .input
			{
				display: table-cell;
				font-style: italic;
				width: 70%;
			}
			
			/*.search_bar .input:hover
			{
			}*/
			
	#content
	{
		float: right;
		width: 82%;
		min-height: 500px;
		position: relative;
		word-wrap: break-word;
		margin-top: 2.5em;
		padding: 0.5em 1.2em;
	}
	
#footer
{
	text-shadow: 2px 2px 2px #000;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	
	vertical-align: middle;
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 100%;	
	height: 105px;
	
	color: #aaa;
	
	font-size: 10.5pt;
}

	#footer a:link, #footer a:visited
	{
		color: #666;
		text-shadow: 2px 2px 2px #000;
	}
	
	#footer a:hover
	{
		color: #ddd;
	}
	
	#footer .newsletter
	{
		width: 250px;
		float: right;
	}

	#footer .footer_menu
	{
		position: absolute;
		width: 400px;
		left: 50%;
		top: 1.75em;
		margin-left: -300px;
	}
	
	#footer .footer_details
	{
		position: absolute;
		width: 400px;
		left: 50%;
		bottom: 0.5em;
		margin-left: -300px;
	}


#social_media_buttons
{
	/*width: 35%;*/
	width: 80%;
	height: 50px;
	clear: both;
	position: relative;
	float: right;
	font-size: 12pt;
	margin-top: 2em;
	padding-top: 0.3em;
	
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	
	-webkit-box-shadow: inset -2px -2px 2px #ccc;
         -moz-box-shadow: inset -2px -2px 2px #ccc;
              box-shadow: inset -2px -2px 2px #ccc;
}

	#social_media_buttons a:link, #social_media_buttons a:visited
	{
		color: #222 !important;
	}
	
	#social_media_buttons a:hover
	{
		color: #888 !important;
	}

	#social_media_buttons > div
	{
		position: absolute;
		left: 0;
		padding: .6em;
		padding-left: 1em;
		
		text-shadow: 2px 2px 2px #aaa;
	}

	#social_media_buttons img
	{
		width: 40px;
	}
	
	#social_media_buttons .etsy
	{
		width: 42px;
		margin-top: -2px;
		margin-left: -5px;
	}
	
	#social_media_buttons > ul
	{
		margin: 0px;
		margin-right: .4em;
		padding: 0px;
		
		right: 0;
	}
	

	/* Place on top right of screen */
	#breadcrumbs
	{
		width: 30%;
		position: absolute;
		right: 0;
		top: -1.75em;
		left: 51%;
	}
	
		#breadcrumbs > ul 
		{
			margin: 0;
			padding: 0;
			display: table;		
		}
		
		#breadcrumbs > ul > li
		{
			padding: 0.35em;
			display: table-cell;
		}
		
		#breadcrumbs > ul > li:first-child
		{
			padding-left: 0;
		}
	
	







/* General, useful classes */
.admin_link a:link, .admin_link a:visited
{
	color: #118800 !important;
}

.admin_link a:hover
{
	color: #00cc00 !important;
}

.note
{
	font-size: 10pt;
}

.required
{
	font-size: 10pt;
	font-weight: bold;
}

.errorSummary
{
	color: #bb0000;
	visibility: none;
}

.errorMessage
{
	color: #bb0000;
}

.red_title
{			
	color: #770000; 
	text-shadow: 2px 2px 3px #7f7f7f;
}

.horizontal_menu
{

}

	.horizontal_menu > ul
	{
		position: absolute;
		display: table;
		border-collapse: collapse;
		
	}
	
	.horizontal_menu > ul > li
	{
		vertical-align: middle;
		display: table-cell;
		padding-left: 0.5em;
	}
	

	
	
	
	
	
	
	
/* Buttons */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333 !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}




.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}


.btn-success, 
.btn-success:hover
{
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}	